###  Problem solving and programming in python 

### Date - 14 June 2019

### Day Objectives
- Python Data structures
     - Lists
     - Tuples
     - Dictionaries
- Basic problem set on Data structures

### Python Data Structures

- Lists

In [1]:
li = [123, 978, 654]  # access the entire list

li

[123, 978, 654]

In [2]:
li = [123, 978, 654]
                      # accessing the second element
li[1]

978

In [3]:
li = [123, 978, 654]
                      # accessing the first element
li[0]

123

In [4]:
li = [123, 978, 654]
                      # accessing the from second element to last
li[1:]

[978, 654]

In [5]:
li = [123, 978, 654]
                      # accessing the list in reverse order
li[::-1]

[654, 978, 123]

In [1]:
li = [123, 978, 654]
                    
li = li[::-1]

li

[654, 978, 123]

In [8]:
li = [12, 97, 65]  # accessing alternate even index elements in the list

li[::2]

[12, 65]

In [11]:
li = [12, 97, 65, 67, 89, 90]   # accessing even index elements

li[1::2]

[97, 67, 90]

In [12]:
# lists can be accessed, manipulated in two different ways
   # direct referencing - [index]
    #indirect referencing - through functions
    
li.append(345) # adding an element to end of list

li

[12, 97, 65, 67, 89, 90, 345]

In [13]:
li.insert(1, 234)  # adding an elemnt in particular position

li

[12, 234, 97, 65, 67, 89, 90, 345]

In [14]:
li.sort() # sort the elements in ascending order

li

[12, 65, 67, 89, 90, 97, 234, 345]

In [15]:
li.pop() # removes the last element in the list

li

[12, 65, 67, 89, 90, 97, 234]

In [16]:
li.pop(1) # removes the element in particular  list
li

[12, 67, 89, 90, 97, 234]

In [18]:
li1 = [1, 2, 3, 4]    # merge list 2 in list 1
li2 = [5, 6, 7, 8]

li1.extend(li2)
li1

[1, 2, 3, 4, 5, 6, 7, 8]

In [19]:
li2.extend(li1)  # merge list 1 in list 2
li2

[5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8]

In [20]:
li1
li2

[5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8]

In [21]:
li1

[1, 2, 3, 4, 5, 6, 7, 8]

In [22]:
li2

[5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8]

In [23]:
sum(li1) # sum of all elements in list

36

In [24]:
max(li1) # maximum number in the list

8

In [25]:
len(li1)  # total number of elements in the list

8

In [26]:
# average of  list elements 
sum(li1)/len(li1)

4.5

In [30]:
# average of all alternate numbers
li3 = [1, 3, 4, 6, 7]

sum(li3[::2])/len(li3[::2])

4.0

In [42]:
# function to identify second largest element in the list 
    #sort the data and select the second last element
    #Sort the data in reverse order , and select the 
    #remove the max element and then get the max
def secondlargest(li3):
    li3.sort()
    return li3[-2]
    
secondlargest(li3)
# function that returns the nth largest

6

In [48]:
def secondlargest(li3):
    li3.sort()
    return li3[-2]
#function that returns the nth largest
def genericlargest(li3, n):
    li3.sort()
    return li3[-n]

secondlargest(li3)
genericlargest(li3, -3)

4

In [55]:
# Function to search for a data in a list
# Search for key in the list and return the list 
def linearsearch(li3, key):
    for index in range(0, len(li3)):
        if li3[index] == key:
            return index+1
    return -1

linearsearch(li3, 7)

5

In [58]:
def linearsearch(li3, key):  # another way to search element in list
    for element in li3:
        if element == key:
            return li3.index(element)
    return -1

linearsearch(li3, 7)

4

In [60]:
def linearsearch(li3, key): # function to search for a key
    if key in li3:
        return li3.index(key)
    return -1

linearsearch(li3, 7)

4

In [3]:
# function to count the occurances of a character in the string
#"python programming", m -> 2

def countcharoccurances(s, c):
    count = 0
    for ch in s:
        if ch == c:
            count += 1
    return count

countcharoccurances("python programming", 'i')

#def countcharoccurances2(s, c):
    #return s.count(c)                            

#countcharoccurances2("Python Programming", 'Py')

1

In [73]:
# Function to find the number of occurances of a substring
# abcabcddcda,  "ab" --> 2
def countsubstring(s, c):
    print(s.count("abc", 0, 10))
    
countsubstring("abcabcddcda", 'abc')

2